@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  font-family: "open sans";
}

h1 {
  color: red;
  font-family: "open sans", sans-serif;
  font-weight: lighter;
  font-size: 60px;
  background-color: transparent;
}

/*h1 a.hover {
  text-decoration: none;
  background-color: transparent;
  color: red;
}

h1 a.active {
  text-decoration: none;
  background-color: transparent;
  color: red;
}

h1 a.visited {
  text-decoration: none;
  background-color: transparent;
  color: red;*/
}

h2 {
  font-family: "open sans", sans-serif;
  font-weight: lighter;
  font-size: 35px;
}

a {
  text-decoration: none;
}

nav a {
  text-decoration: underline;
  color: #DDDDDD;
  background-color: transparent;
  padding: 10px;
}

h3 {
  color: #DDDDDD;
  background-color: transparent;
  font-size: 30px;
  font-weight: lighter;
}

body {
  margin: 50px;
}

nav {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 10px;
  padding-top: 3px;
  margin-left: 0;
  font-weight: lighter;
  flex-wrap: wrap;
}

h4 {
  text-align: right;
  color: red;
  background-color: transparent;
}

img {
  width: 100%;
}

hr {
  height: .5px;
}

p {
  font-family: avenir;
}

span {
  font-size: 100px;
  float: left;
  margin: -10px 5px -20px 0px;
  color: gray;
}
